# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/
env/
ENV/

# IDE
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite3

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# macOS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints/

# Others
dist/
build/
